<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.community.mapper.CommentMapper">

    <update id="updateCommentCount" parameterType="com.example.community.model.Comment">
        update comment
        set
        comment_count = comment_count + 1
        where id = #{id}
    </update>

    <update id="increaseCommentLike" parameterType="com.example.community.model.Comment">
        update comment
        set
        like_count = like_count + 1
        where id = #{id}
    </update>

    <update id="decreaseCommentLike" parameterType="com.example.community.model.Comment">
        update comment
        set
            like_count = like_count - 1
        where id = #{id}
    </update>
</mapper>